.root {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2rem 0;
}

.previous {
  grid-column: 1/2;
}

.count {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark2);
  font-size: 0.875rem;
}

.next {
  grid-column: 3/-1;
  display: flex;
  flex-direction: row-reverse;
}
