.main {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: 'topbar' 'content' 'footer';
  grid-template-rows: 100px 10fr 1fr;
}

.footer {
  grid-area: footer;
  background: white;
}

.topbar {
  grid-area: topbar;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  transition: background-color 0.3s;
  background-color: var(--backgroundColor);
}

@media (min-width: 1024px) {
  .topbar {
    /* padding: 0; */
    justify-content: flex-start;
  }
}
.content {
  grid-area: content;
  padding: 0rem;
}

@media (min-width: 1024px) {
  .content {
    padding: 0 2rem;
  }
}
